<%= render  "layouts/painel_profile" %>
<div class="container d-flex flex-wrap">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-row">
        <%= f.label :email, class: "mt-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Não preencha se não quiser alterá-lo" %>
    </div>
    
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-row">
      <%= f.label :nova_senha, class: "mt-2"%>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Não preencha se não quiser alterá-la"%>

      <%= f.label :confirme_sua_nova_senha, class: "mt-2" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirme sua nova senha" %>

      <%= f.label :senha_atual, class: "mt-2" %>
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Digite sua senha para confirmar alterações" %>
    </div>
    <div class="container">
      <div class="row">
        <%= f.submit "Salvar", class: "btn btn-success mr-4 mt-2" %>
  <% end %>
        <%= button_to "Voltar", root_path, method: "get", class:"btn btn-secondary mt-2" %>
      </div>
     <div class="card border-danger mt-4">
        <h2 class="text-danger mt-4 ml-4 pl-2">Insatisfeito?<h2>
        <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class:"btn btn-outline-danger mr-4 ml-4 mt-3 mb-4" %>
      </div> 
    </div>
</div>