<%= render  "painel_pedidos" %>
<div class="container font">
	<h2 class="">Seu último pedido: </h2>
	<h5 class="">Aguarde seu pedido ser entregue.</h5>
	<div class="container-fluid d-flex flex-wrap pl-0 justify-space-between">
		<% total = 0 %>
		<% session[:cart].each do | meal| %>
			<% @meal = Meal.find(meal["meal"]) %>
			<% quant = meal["quantity"] %>
			<div class="card card_checkout_box mr-2 d-flex flex-wrap mb-2">
				<div class="card-body d-flex flex-wrap justify-content-around">
					<div class="d-flex col pl-0 pr-2">
						<%= image_tag(@meal.image, class: "card-img-top img_cart_home") %>
						<div class="ml-4">
							<h4><%=@meal.name %> </h4>
						</div>
					</div>
					<div class="flex-column margin-custom_om">
						<label class="margin_cart_text">Quantidade: <%= quant %></label>
						<p class="margin_cart_text">Preço unitário: <%= @meal.price%></p>
						<p class="margin_cart_text">Preço total: <%= @meal.price * quant.to_i  %></p>
					<% total += (@meal.price*quant.to_i) %>
						<div class="form-group flex_column">
							<%= form_with url: delete_path(id: meal["meal"]), method: :put, remote: true do | cart | %>
								<%= cart.submit "Remover do carrinho", class: "btn btn-outline-danger button_size mt-1" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<hr>
<div class="container d-flex">
	<div>
		<h4><b>Total do pedido: </b><span class="text-success">R$<%= total.round(2) %></span></h4>
		<%=button_to "Finalizar pedido", create_path, method: :put, class: "btn btn-success" %> 
	</div>
	<div class="h-voltar">
		<h5>Esqueceu algo ?</h5>
		<h6><%=button_to "Voltar", root_path, method: :get,class: "btn btn-outline-dark float-right"%></h6>
	</div>
</div>