<%= render  "layouts/painel_categories" %>
<%= render  "nav_users" %>
<div class="container flex-wrap flex-wrap font">
    <h2 class="mt-3"><b>Editar perfil<b></h2>
    <hr>
  <%= form_for(@user, url: backoffice_user_path(@user), html: { method: :put}) do |f| %>
    <div class="form-row">
        <div class="col">
            <%= f.label :nome, class: "mt-2" %>
            <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Novo nome" %>
        </div>
        <div class="col">
            <%= f.label :email, class: "mt-2" %>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"novo@email.com" %>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <%= f.label :cadastrado, class: "mt-2" %>
            <%= f.select :admin, [['Administrador', true], ['Usuário', false]], {},{ :class => "form-control"}%>
        </div>
        <div class="col">
            <%= f.label :cadastrado, class: "mt-2" %>
            <%= f.text_field :created_at, disabled: true,class:"form-control", placeholder:@user.created_at.strftime('%d/%m/%y')%>
        </div>
    </div>
    <div class="row">
        <%= f.submit "Salvar", class: "btn btn-success ml-3 mr-4 mt-2" %>
 <% end %>
        <%= button_to "Voltar", backoffice_users_path, method: "get", class:"btn btn-secondary mt-2" %>
  </div>
</div>