<%= render  "layouts/painel_categories" %>
<%= render  "nav_orders" %> 
    <div class="container content font">
       <table class="table categories">
            <thead class="gray">
                <tr>
                    <th scope="col">Pedido de n°</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Usuários</th>
                    <th scope="col">Preço total</th>
                    <th scope="col">Detalhes</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                    <tr>    
                        <td class =""><%=order.id%></td>
                        <td class =""><%= Situation.find(order.situation_id).status %></td>
                        <td class =""><%=order.created_at.strftime('%d/%m/%y')%></td>
                        <td class =""><%=User.find(order.user_id).name%></td>
                        <td class ="">R$<%=order.price%></td>
                        <td class ="font-weight-bold text-primary">Detalhes do pedido</td>
                        <td class ="ed font-weight-bold text-warning"><%= link_to  "editar", edit_order_path(order) %></td>
                        <td class ="exc font-weight-bold text-danger"><%= link_to "excluir", order, method: :delete, data: { confirm: 'você tem certeza?' } %></td>

                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
