<%= render  "layouts/painel_categories" %>
<%= render  "nav_orders" %> 
<br>
<div class="container-fluid">
<table class="table button_new_order">
    <thead class="thead-light">
        <tr>
            <th>Pedido de nº</th>
            <th>Status</th>
            <th>Data</th>
            <th>Usuário</th>
            <th>Preço total</th>
            <th>Detalhes</th>
            <th colspan="2" ></th>
        </tr>
    </thead>
    
    <tbody>
        <% Order.all.each_with_index do |order, index| %>
            <tr>
                <td><%= order.id %></td>
                <td><%= Situation.all.find(order.situation_id).status  %></td>
                <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= User.all.find(order.user_id).name %></td>
                <td><%= order.price %></td>
                <td> <%= link_to  "ver itens pedidos" %> </td>
                <td>
                    <%= link_to 'editar', edit_order_path(order), class: "btn btn-warning bord"%>
                </td>
                <td>
                    <%= link_to 'apagar', order_path(order), 
                    method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger bord"   %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
