<header class="container-fluid header_pedidos text-white font">
<div class="painel_pedidos">
    <header class="upper_header">
        <label class="upper_h2"><%= link_to  "dinnerdash",  root_path, class: "link font-logo" %></label>
        <% if user_signed_in? == true %>
            <label class="float-right "><%= link_to  "sair", destroy_user_session_path, class: "link", method: "delete" %></label>
            <label class="upper_header float-right "><%= link_to  "perfil", edit_user_registration_path , class: "link" %></label>
            <label class="upper_header float-right "><%= link_to  "pedidos", pedidos_path , class: "link" %></label>
            <% if current_user.admin == true %>
                <label class="upper_header float-right"><%= link_to  "backoffice", categories_path, class: "ed text-warning" %></label>
            <% end %>
        <% end %>
        </header>
        <header class="lower_header fixed-bottom">
            <h1 class="home_title text-truncate">Bem vindo, <%= current_user.name%></h1>
            <h3 class="home_subtitle">Neste espaço você pode finalizar o seu pedido</h3>
        </header>
</div>
</header>