<%= render  "pedidos_final" %>
<div class="container font">
    <h2 class="">Seu último pedido: </h2>
    <h5 class="">Aguarde seu pedido ser entregue.</h5>
    <div class="container-fluid d-flex flex-wrap pl-0 justify-space-between">
        <% total = 0 %>
        <% session[:cart].each do | meal| %>
            <% @meal = Meal.find(meal["meal"]) %>
            <% quant = meal["quantity"] %>
            <div class="card card_checkout_box mr-2 d-flex flex-wrap mb-2">
                <div class="card-body d-flex flex-wrap justify-content-around">
                    <div class="d-flex col pl-0 pr-2">
                        <%= image_tag(@meal.image, class: "card-img-top img_cart_home") %>
                    </div>
                    <div class="flex-column">
                        <h4><%=@meal.name %> </h4>
                        <label for="exampleFormControlSelect1">Quantidade</label>
                        <p class="margin_cart_text">Preço unitário: <%= @meal.price%></p>
                        <p class="margin_cart_text">Preço total: <%= @meal.price * quant.to_i %></p>
                    <% total += (@meal.price*quant.to_i) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<hr>
<div class="container-fluid">
    </br>
    <h1>Pedidos anteriores</h1>
    <table class="table button_new_order">
        <thead class="thead">
            <tr>
                <th>Pedido de nº</th>
                <th>Status</th>
                <th>Data</th>
                <th>Preço total</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        
        <tbody>
            <% Order.all.each_with_index do |order, index| %>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= Situation.all.find(order.situation_id).status %></td>
                        <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                        <td><%= order.price %></td>
                        <td>
                            <%= link_to  "ver itens pedidos"%>
                        </td>
                    </tr>
            <% end %>
        </tbody>
    </table>
    </br>
