<%= render  "pedidos_final" %>
<div class="container font">
    <h2 class="">Seu último pedido: </h2>
    <div class="container-fluid d-flex flex-wrap pl-0 justify-space-between">
        <% if @order != nil %>
            <div class="flex-column">
                <h5 class="">Aguarde seu pedido ser entregue.</h5>
            <div class="d-flex flex-row flex-wrap">
            <% @order_meals.each do | order | %>
                <% @meal = Meal.find(order.meal_id) %>
                <div class="card card_checkout_box mr-2 d-flex flex-wrap mb-2">
                    <div class="card-body d-flex flex-wrap justify-content-start ml-4">
                        <div class="d-flex row pl-0 pr-2">
                            <%= image_tag(@meal.image, class: "card-img-top img_cart_home") %>
						<div class="ml-4">
							<h4><%=@meal.name %> </h4>
						</div>
                        </div>
                        <div class="flex-column margin-custom_om2">
                            <label for="exampleFormControlSelect1">Quantidade</label>
                            <p class="margin_cart_text">Preço unitário: <%= @meal.price%></p>
                            <p class="margin_cart_text">Preço total: <%= @meal.price * order.quantity %></p>
                    </div>
                    </div>
                </div>
            <% end %>
            </div>
            </div>
    </div>
</div>
        <% else %>
            <h5 class="">Nenhum pedido realizado ainda.</h5>

        <% end %>
<hr>
<div class="container-fluid font">
    <br>
    <h1>Pedidos anteriores</h1>
    <table class="table button_new_order" id="categorias">
        <thead class="thead">
            <tr>
                <th>Pedido de nº</th>
                <th>Status</th>
                <th>Data</th>
                <th>Preço total</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        
        <tbody>
        <% if @orders != nil %>
            <% @orders.each do |order| %>   
                    <tr>    
                        <td class =""><%=order.id%></td>
                        <% situation = Situation.find(order.situation_id) %>
                        <% if  situation.id == 1 %>
                            <td class =""><p class = "pendente"><%= situation.status %></p></td>
                        <% elsif  situation.id == 2 %>
                            <td class =""><p class = "pendente bg-warning"><%= situation.status %></p></td>
                        <% elsif  situation.id == 3 %>
                            <td class =""><p class = "cancelado"><%= situation.status %></p></td>
                        <% else  situation.id == 4 %>
                            <td class =""><p class = "concluido"><%= situation.status %></p></td>
                        <% end %>
                        <td class =""><%=order.created_at.strftime('%d/%m/%y')%></td>
                        <td class ="">R$<%=order.price%></td>
                        <td class ="font-weight-bold text-primary"><a data-toggle = "modal" data-target = "#t<%=order.id%>">Detalhes do pedido</button></td>
                        <div class="modal fade" id="t<%= order.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Pedido de n° <%= order.id %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body font">
                                        <% @order_meals = OrderMeal.where("order_id = ?", order.id)%>
                                        <% @order_meals.each do | meal | %>
                                            <div class="card card_checkout_box mr-2 d-flex flex-wrap mb-2">
                                                <div class="card-body d-flex flex-wrap justify-content-around">
                                                    <div class="d-flex row pl-0 pr-2">  
                                                        <%= image_tag(Meal.find(meal.meal_id).image, class: "card-img-top img_cart_home") %>
                                                        <h4><%=Meal.find(meal.meal_id).name %> </h4>
                                                    </div>
                                                      <div class="flex-column margin-custom_om2">
                                                        <h4><%=Meal.find(meal.meal_id).name %> </h4>
                                                        <label for="exampleFormControlSelect1">Quantidade</label>
                                                        <p class="margin_cart_text">Preço unitário: <%= Meal.find(meal.meal_id).price%></p>
                                                        <p class="margin_cart_text">Preço total: <%= Meal.find(meal.meal_id).price * meal.quantity %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </tr>
                <%end%>
            <% end %>
        </tbody>
    </table>
    <br>
<script>

        $(document).ready( function () {
            $('#categorias').DataTable({
                "paging": true,
                "lengthChange": false,
                "pagingType": "full_numbers",
                "lengthMenu": [4],
                "ordering": true,
                "info": false

            })
            botao();

        } );
        function botao() {
            let button = document.querySelectorAll("a.paginate_button");
            for (let i = 0; i < button.length; i++) {
                button[i].classList.add("btn");
                button[i].classList.add("btn-outline-primary");
				button[i].classList.add("mb-3");
				button[i].classList.add("ml-1");
                button[i].addEventListener("click", botao); 
			}
			let button_div = document.querySelector("div.paging_full_numbers");
			button_div.classList.add("d-flex");
			button_div.classList.add("justify-content-center");
			let search = document.querySelector("div.dataTables_filter");
			search.classList.add("d-flex");
			search.classList.add("justify-content-end");
			search.classList.add("mt-4");
			let input = document.querySelector("div.dataTables_filter input");
			input.addEventListener("input", botao);
			input.classList.add("form-control");

        }
    </script>