<header class="container-fluid header text-white font">
<div class="painel">
    <header class="upper_header">
        <label class="upper_h2">dinnerdash</label>
        <% if user_signed_in? == false %>
            <label class="float-right "><%= link_to  "entrar", user_session_path, class: "link" %></label>
            <label class="upper_header float-right "><%= link_to  "cadastro", new_user_registration_path, class: "link" %></label>
        <% else %>
            <label class="float-right "><%= link_to  "sair", destroy_user_session_path, class: "link", method: "delete" %></label>
            <label class="upper_header float-right "><%= link_to  "perfil", edit_user_registration_path , class: "link" %></label>
            <% if current_user.admin == true %>
                <label class="upper_header float-right"><%= link_to  "backoffice", categories_path, class: "ed text-warning" %></label>
            <% end %>
        <% end %>
        </header>

    <header class="lower_header fixed-bottom">
        <h1 class="home_title">Monte seu prato</h1>
        <h3 class="home_subtitle">Escolha sua salada, molho, prato principal, guarnição e bebida</h3>
    </header>
    </div>
</header>