<header class="container-fluid header text-white font">
<div class="painel">
	<header class="upper_header">
		<label class="upper_h2">dinnerdash</label>
		<label class="float-right ">entrar</label>
		<label class="upper_header float-right ">cadastro</label>
		</header>

	<header class="lower_header fixed-bottom">
		<h1 class="home_title">Monteu seu prato</h1>
		<h3 class="home_subtitle">Escolha sua salada, molho, prato principal, guranicao e bebida</h3>
	</header>
	</div>
</header>
<div class="container">
	<%@categories.each do |category| %>
		<% i = quantidade(category) %>
		<% if i > 0 %>
			<h1 class = "category_name"><%=category.name%></h1>
			<div class = "d-flex flex-row contain">	
				<%@meals.each do |meal|%>
					<%if(meal.category_id == category.id)%>
						<div class="card cards">
							<%= image_tag(meal.image, class: "card-img-top")%>
								<div class = "card-img-overlay over position-absolute">
									<h6 class="card-title meal_name"><span class = "espaco_name"><%= meal.name %></span></h6>
								</div>
							<div class="card-body position-relative">
								<h5 class="card-text description position-relative"><%= meal.description %></h5>
								<h5>R<%=number_to_currency(meal.price) %> por porção </h5>
								<h6>Quantidade</h6>
								<a href="#" class="btn btn-success">Go somewhere</a>
							</div>
						</div>
					<% end %>
				<% end %>
		<% end %>
		</div>
	<% end %>
</div>
