<div class = "d-flex flex-column cont">
    <div class = "img_root">
    	<div class="container"></div>
        <div class = "escurinho">
        	<div class="contai">
            <div class = "whi">dinnerdash</div>
            <div class = "top-right"><span class = "top-r yellow">backoffice</span><span class = "top-r"><%= link_to('perfil', edit_user_registration_path, class: "link_top") %></span><span class = "top-r"> <%= link_to('sair', destroy_user_session_path, method: :delete, class: "link_top")%></span></div>
        	</div>
            <div class = "Back">Monte seu prato</div>
            <div class = "ger">Escolha sua salada, molho, prato principal, guarnição e bebida</div>
        </div>
    </div>
	<%@categories.each do |category| %>
		<h1><%=category.name%></h1>
	<div class = "d-flex flex-row">	
		<%@meals.each do |meal|%>
			<%if(meal.category_id == category.id)%>
				<div class="card" style="width: 18rem;">
				<%= image_tag(meal.image, class: "card-img-top")  %>
					<div class="card-body">
						<h1 class="card-title"><%= meal.name %></h1>
						<p class="card-text"><%= meal.description %></p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>

			<% end %>
		<% end %>
	</div>
	<% end %>



    <div class = "footer">
        <span>Dinnerdash | Todos os direitos reservados</span><span>Design por Yuri Silva, Backend por Bruno Sanguinetti, Frontend por Matheus Gabriel</span>
    </div>
</div>
