<div class = "d-flex flex-column">
    <div class = "img_root">
        <div class = "escurinho">
            <div class = "whi">dinnerdash</div>
            <span class = "top-right"><span class = "top-r yellow">backoffice</span><span class = "top-r">perfil</span><span class = "top-r">sair</span></span>
            <div class = "Back">Monte o seu prato</div>
            <div class = "ger">Escolha sua salada, molho, prato principal, guarnição e bebida</div>
        </div>
    </div>
	<div class = "container">
		<%@categories.each do |category| %>
			<h1 class = "category_name"><%=category.name%></h1>
			<div class = "d-flex flex-row contain">	
				<%@meals.each do |meal|%>
					<%if(meal.category_id == category.id)%>
						<div class="card cards">
						<%= image_tag(meal.image, class: "card-img-top")%>
							<div class = "card-img-overlay d-flex align-items-center over">
									<h6 class="card-title meal_name"><span class ="espaco_name"><%= meal.name %></h6>
							</div>
							<div class="card-body">
								<h5 class="card-text description"><%= meal.description %></h5>
								<h5>R<%=number_to_currency(meal.price) %> por porção </h5>
								<h6>Quantidade</h6>
								<a href="#" class="btn btn-success">Go somewhere</a>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>




    

    <div class = "footer">
        <span class = "fotd">dinnerdash | todos os direitos reservados</span><span class = "develop">Design por Yuri Silva, Backend por Bruno Sanguinetti</span>
    </div>
</div>