<div class = "d-flex flex-column cont">
    <%= render  "layouts/painel_categories" %>
    <%= render  "nav_meals" %>
    <br>
    <div class = "container-fluid form tab">
		<div class ="new_cat">Nova refeição</div>
        <%= form_with model: @meal do |form| %>
      <label class = "labels">Nome</label>
      <div class ="input"><%= form.text_field :name%></div>
      <label class = "labels">Descrição</label>
      <div class ="input"><%= form.text_field :description%></div>
      <label class = "labels">Categoria</label>
      <div class = "labels"><%= form.select :category_id, @categories.collect { |category| [category.name, category.id] }%></div>
      <label class = "labels">Preço</label>
      <div class ="input"><%= form.text_field :price%></div>
      <label class = "labels">Imagem</label>
      <div class ="input"><%= form.file_field :image%></div>
      <label class = "labels">Disponibilidade</label>
      <div class ="input"><%= form.check_box :available%></div>
      

			<button class = "btn btn-success botao space"><% form.submit %>criar refeição</button><button class = "btn botao voltar"><%= link_to  "voltar", meals_path %> </button>
        <% end %>
    </div>

</div>