<%= render  "layouts/painel_categories" %>
<%= render  "nav_meals" %>  
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
<div class="container font">
	<%@categories.each do |category| %>
		<% i = quantidade(category) %>
		<% if i > 0 %>
			<h1 class = "category_name"><b><%=category.name%><b></h1>
			<div class = "d-flex flex-row contain">	
				<%@meals.each do |meal|%>
					<%if(meal.category_id == category.id)%>
                        <% if meal.available == true %>
						    <div class="card cards_backoffice">
                        <% else %>   
                            <div class="card cards_backoffice border-danger">
                        <%end%>
                            <% if meal.available == true %>
							    <%= image_tag(meal.image, class: "card-img-top img_certa_backoffice")%>
                                   <div class = "card-img-overlay over_backoffice">
                                       <h6 class="card-title meal_name_backoffice">
                                        <span class = "espaco_name"><%= meal.name %></span>
                                    </h6>
                                </div>
                            <% else %>
                                <%= image_tag(meal.image, class: "card-img-top img_certa_backoffice")%>
                                <div class="d-flex justify-content-around painel_card card-img-overlay">
                                    <h4 class="text-danger"><b>Indisponível</b></h4>
                                </div>
                                <div class = "card-img-overlay over_backoffice">
                                    <h6 class="card-title meal_name_backoffice">
                                        <span class = "espaco_name"><%= meal.name %></span>
                                    </h6>
                                </div>
                            <% end %>
							<div class="card-body position-relative">
								<h5 class="card-text description position-relative"><%= meal.description %></h5>
								<div class = "flex-row mt-3 card_footer">
                                    <h5 class="text-success ml-2 mt-2">R<%=number_to_currency(meal.price) %> por porção </h5>
                                    <div class="row ml-2">
                                        <span class="pl-0 pr-0"><%= button_to  "Editar", edit_meal_path(meal), :method => "get", class: "btn btn-warning botoes_ref editar" %></span>
                                        <span class="pl-0 pr-4"><%= button_to  "Excluir", meal, method: :delete, data: { confirm: 'você tem certeza?'}, class: "btn btn-danger botoes_ref exc"  %></span>
                                    </div>
                                </div>
							</div>
						</div>
					<% end %>
				<% end %>
            </div>
		<% end %> 
	<% end %>  
    <%= button_to "Criar nova refeição", new_meal_path, :method => "get", class: "btn btn-success mt-4" %>   
</div>      
    <!--<div class="container content">
    <%= render  "layouts/painel_categories" %>
    <%= render  "nav_meals" %>
    <div class="container content">
    <h1 class = "category_name"></h1>
    <div class = "container">
        <div class = "d-flex flex-row contain">	
            <%@meals.each do |meal|%>
                    <div class="card cards">
                    <%= image_tag(meal.image, class: "card-img-top")%>
                        <% if(meal.available == FALSE) %>
                            <div class = "card-img-overlay black d-flex align-items-center justify-content-center">
                                
                                <h5>
                                    refeição indisponivel
                                </h5>

                            </div>
                        <%end%>
                        <div class = "card-img-overlay d-flex align-items-center over">
                            <h6 class="card-title meal_name"><span class = "espaco_name"><%= meal.name %></span></h6>
                        </div>
                        <div class="card-body">
                            <h5 class="card-text description"><%= meal.description %></h5>
                            <h5>R<%=number_to_currency(meal.price) %> por porção </h5>
                            <div class = "d-flex flex-row justify-content-between flex_bot">
                                <%= button_to  "editar", edit_meal_path(meal), :method => "get", class: "btn btn-warning botoes_ref" %> <%= button_to  "excluir", meal, method: :delete, data: { confirm: 'você tem certeza?'}, class: "btn btn-danger botoes_ref"  %>
                            </div>
                        </div>
                    </div>
            <% end %>
        </div>

	</div>
    </div>-->