<div class="container">
  <div class="img_login"></div>
  <div class="resto_login"> 
    <h2>dinnerdash</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :senha %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :lembrar %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Fazer login" %>
      </div>
    <% end %>
    <hr>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>