<div class = "d-flex flex-column cont">
    <div class = "img">
        <div class = "escurinho">
            <div class = "whi">dinnerdash</div>
            <span class = "top-right"><span class = "top-r yellow">backoffice</span><span class = "top-r">perfil</span><span class = "top-r">sair</span></span>
            <div class = "Back">Backoffice</div>
            <div class = "ger">Gerencie pedidos, refeições e mais</div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <span class="nav-item nav-link" href="#">Pedidos <span class="sr-only">(current)</span></span>
                <span class="nav-item nav-link " href="#">Usuários</span>
                <span class="nav-item nav-link" href="#">Refeições</span>
                <span class="nav-item nav-link active" href="#">Categorias de Refeição</span>
            </div>
        </div>
    </nav>
    <div class = "container-fluid tab">
        <table class="table">
            <thead class="gray">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Número de Refeições</th>
                <th scope="col">Cadastrada em</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <% @categories.each do |category| %>
                    <tr>    
                        <td class =""><%=category.name%></td>
                        <td class ="">Número de Refeições</td>
                        <td class =""><%=category.created_at.strftime('%d/%m/%y')%></td>
                        <td class =""></td>
                        <td class ="ed font-weight-bold yellow"><%= link_to  "editar", edit_category_path(category) %></td>
                        <td class ="exc font-weight-bold"><%= link_to "excluir", category, method: :delete, data: { confirm: 'Are you sure?' } %></td>

                    </tr>
                <%end%>
            </tbody>
        </table>
        <button class = "btn btn-success botao"><%= link_to  "nova categoria de refeição", new_category_path %> </button>
    </div>
    <div class = "footer">
        <span class = "fotd">dinnerdash | todos os direitos reservados</span><span class = "develop">desenvolvido por Yuri Crystian Ribeiro e Silva</span>
    </div>
</div>
