<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      
  <body>
    <%= yield %>
  </body>
  <hr class="mb-1">
  <footer class = "container-fluid footer font">
    <span class="footer_left_credits"><b>dinnerdash</b> | Todos os direitos reservados</span>
    <span class="footer_right_credits">Design e Beckend por <b>Bruno Sanguinetti</b>, <b>Yuri Silva</b> e <b> Matheus Gabriel</b></span>
  </footer>
</html>
