<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </head>
      
  <body>
    <%= yield %>
  </body>

</html>
  <hr class="mt-4 mb-2">
  <footer class = "container-fluid position-relativex footer font">
    <span class="footer_left_credits"><b>dinnerdash</b> | todos os direitos reservados</span>
    <span class="footer_right_credits">design e beckend <b>Bruno Sanguinetti</b>, <b>Yuri Silva</b> e <b>Matheus Gabriel</b></span>
  </footer>
